﻿@model IEnumerable<SUREEHA20068.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
             No.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>

        <th></th>
    </tr>

    @{int i = 0;}
    @foreach (var item in Model)
    {
<tr>
    <td>@(++i)</td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreateBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreateDate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
        @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
    </td>
</tr>
    }

</table>
