﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="container">

        <center> <img src="~/Content/images/banner.jpg" class="img-fluid" alt="Responsive image">  </center>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">BOOK STORE</h1>
            <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
        </div>
        @Html.Partial("_PartialHomepage")

    </div>




