﻿@model IEnumerable<SUREEHA20068.Models.Product>


@{
    ViewBag.Title = "Main";
}


<div class="container">
    <h2 class="text-center">รายการสินค้า </h2>
    @foreach (var item in Model)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@Url.Content(item.ImagePath)" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">@item.Detail</p>
                        <button id="btnAdd" type="submit" class="btn btn-primary btn-sm " onclick="test('@item.ProductId')"> เพิ่มในตะกร้าสินค้า </button>
                        <p class="card-text"><small class="text-muted">@item.CreateDate</small></p>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

@section Scripts {
    <script type="text/javascript">
        //$('#btnAdd').click(() => {
        //    alert($(item))
        //    //var test = this.val();
        //    //console.log('test')
        //})
        function test(val) {
            console.log(val)
        }
    </script>
}

