﻿@*<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm" style="background-color: #D8BFD8;">
     <h5 class="my-0 mr-md-auto font-weight-normal">Book Store </h5>

         <a class="nav-link dropdown-toggle" href="#" id="ddlMenu1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    จัดการสินค้า
         </a>
         <div class="dropdown-menu" aria-labelledby="ddlMenu1">
             <a class="dropdown-item" href="~/Categories">ประเภทสินค้า</a>
             <a class="dropdown-item" href="~/Customers">สินค้า</a>
         </div>*@



@*<button type="button" class="btn btn-light">Register </button>
    <button type="button" class="btn btn-light">Login</button>*@

@*@Html.Partial("_LoginPartial")*@

@*</div>*@


@*<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #D8BFD8;">
    <a class="navbar-brand" href="/">BOOK STORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ddlMenu1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             จัดการสินค้า
                </a>
                <div class="dropdown-menu" aria-labelledby="ddlMenu1">
                    <a class="dropdown-item" href="~/Categories">ประเภทสินค้า</a>
                    <a class="dropdown-item" href="~/Products">สินค้า</a>

                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Orders/">รายการสั่งซื้อ</a>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>*@

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"> BOOK STORE </h5>
        <a class="p-2 text-dark" href="~/Products/Main">สินค้าทั้งหมด</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark dropdown-toggle" href="#" id="ddlMenu1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                จัดการสินค้า
            </a>
            <div class="dropdown-menu" aria-labelledby="ddlMenu1">
                <a class="dropdown-item" href="~/Categories">ประเภทสินค้า</a>
                <a class="dropdown-item" href="~/Products">สินค้า</a>
                <a class="dropdown-item" href="~/Suppliers">ผู้ผลิต</a>

            </div>
            <a class="p-2 text-dark" href="~/Shippers">การจัดส่ง</a>

        </nav>
        @Html.Partial("_LoginPartial")
    </div>





